/* body{
    background-color: #ffffff;
    font-family: "Roboto";
} */
body{
    /*background-color: rgb(170, 170, 170);*/
    background-color: white;
}
/*eviter le scrole à l'arriere du nav elle est créée pour être ajouter au js*/
.noscrol{
    overflow: hidden;
}
.shadowheader{
    box-shadow: 1px 8px 7px 2 #ff51002b;
}
.shadowfooter{
    box-shadow: 1px -8px 7px 2 #ff51002b;
}


header{
    background-color: rgb(61, 61, 159);
    height: 60px;
    width: 100%;
    top: 0;
    position: sticky; /*pour fixer la bar de navigation*/
    z-index: 1;
    box-shadow: 1px 4px 4px 0 #ff00002b;
    transition: box-shadow 1s;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: clamp(1.5rem,5vw,2.5rem); /*clamp permet de changer la taille d'un objet en fonction de celle de l'ecran. il prent 3 paramettres. 1 c'est la taille minimale,3 la taille maximale*/
    padding-left: 5px;
}
.logo a{
    transition: color 0.5s;
}
.logo a:hover{
    color: rgb(192, 127, 6);
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
/*pour la bare de progression*/
.progressbar_container{
    width: 100%;
    height: 4px;
    color: #777777;
}
.progressBar{
    height: 100%;
    width: 0%;
    background-color: rgb(192, 127, 6);
    transition: all 0.5;
}

header a{
    color: white;
    text-decoration: none;
}
.nav-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-ul a{
    height: 60px;
    width: 100px;
    font-size: clamp(0.6rem,5vw,1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.5s;
}
.nav-ul a:hover{
    color: rgb(192, 127, 6);
    animation: taille 1s;
}
/*creation de ma propre animation*/
@keyframes taille {
    from{
        font-size: clamp(1rem,5vw,2rem);
    }
    to{
        font-size: clamp(0.6rem,5vw,1.5rem);
    }
}
article{
    color: #debfbf;
    margin-bottom: 50px;
}
article p{
    padding-left: 5%;
}
article img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transition: all 0.5s;
}
article img:hover{
    filter: hue-rotate(90deg);
    border: 50%;
}
h3{
    text-align: center;
}
footer{
    height: 200px;
    background-color: #2e2f31;
    color: #5f5f5f;
    box-shadow: 1px -4px 4px 0 #ff00002b;
    transition: box-shadow 1s;
    margin-bottom: 100px;
}

/*le css du hamburger*/
.hamburger{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.hamburger :first-child{
    margin-top: 0;
}
.bar1,.bar2,.bar3{
    width: 35px;
    height: 6px;
    background-color: white;
    margin-top: 6px;
    border-radius: 5px;
    transition: all 0.7s;
}
/*creation d'une classe qu'on attribuera au hamburger à l'aide du js*/
.open .bar1,
.open .bar2,
.open .bar3{
    background-color: rgb(192, 127, 6);
}
/*jouer avec le mouvement des traits*/
.open .bar1{
    transform: translateY(200%) rotate(-45deg);
}
.open .bar3{
    transform: translateY(-200%) rotate(45deg);
}
.open .bar2{
    transform: translateX(100%);
    opacity: 0;
}

.phone{
    display: none;
}

@media (max-width: 800px){
    .hamburger{
        display: flex;
    }
    .nav-ul{
        position: fixed;
        left: -100%;
        top: 60px;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        flex-direction: column;
        transition: transform ease-out 0.8s;
    }
    /*cette class est aussi créer pour être ajouter au js*/
    .slide{
        transform: translateX(100%);
    }
    .nav-ul a{
        border-bottom: 1px solid rgb(192, 127, 6);
        width: 30%;
        justify-content: left;
        padding: 5px;
    }
    .nav-ul a:hover{
        animation: none;
    }
    .phone{
        display: flex;
    }
    .custom-height-phone {
        height: 200px; /* Ajustez cette valeur selon vos besoins */
        object-fit: cover; /* Pour garder le rapport d'aspect */
    }
    .versionOrdi{
        display: none;
    }
    
}




/* body{
    background-color: rgb(170, 170, 170);
} */

.card{
    background-color: rgba(255, 255, 255, 0.082);
    box-shadow: 0px 10px 10px 0px rgb(240, 240, 240);
}

p{
    color: rgb(0, 0, 0);
}

span{
    color: rgb(20, 93, 189);
}

.who{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.service{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.team{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.active{
    color: rgb(255, 191, 73);
}

.bienvenu{
    font-weight: bold;
    text-align: center;
    color: blue;
}
.description{
    font-weight: bold;
    text-align: center;
    color: blue;
    margin-top: 10%;
}
.pourquoiTitle{
    font-weight: bold;
    text-align: center;
    color: blue;
}
.pourquoi{
    text-align: center;
}
.descripText{
    text-align: center;
}


.custom-height {
    height: 400px; /* Ajustez cette valeur selon vos besoins */
    object-fit: cover; /* Pour garder le rapport d'aspect */
}


/* code pour la section contact us  */

.contact-section h2,
        .contact-info h3 {
            color: blue;
        }

        .contact-info {
            background-color: #e4e8f4;
            padding: 20px;
            border-radius: 8px;
            
        }

        .contact-image {
            width: 25%;
            height: 120px;
            /* margin-bottom: 20px; */
        }



/* Style pour le footer */
.footer-container {
    position: relative;
    background: #3d3d9f;
    padding: 20px 0;
    text-align: center;
}

.footer-background img {
    position: absolute;
    top: 1;
    left: 20%;
    transform: translateX(-50%) rotate(-5deg);
    opacity: 0.6;
    width: 30%;
    height: 300px;
    z-index: 1;
}

.footer-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.footer-logo img {
    max-height: 50px;
    margin-bottom: 20px;
}

.footer-follow p {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
}

.footer-social-icons a {
    margin: 0 20px;
    display: inline-block;
}

.footer-social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.footer-download a {
    display: inline-block;
    margin-top: 20px;
}

.footer-download img {
    width: 150px;
    height: auto;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: black;
}

.footer-bottom a {
    color: black;
    text-decoration: none;
    /*background-color: yellow;*/
}

.footer-bottom a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        padding: 20px;
    }

    .footer-social-icons a,
    .footer-download a {
        margin: 5px;
    }
}