body{
    background-color: rgb(170, 170, 170);
}

.card{
    background-color: rgba(255, 255, 255, 0.082);
    box-shadow: 0px 10px 10px 0px rgb(240, 240, 240);
}

p{
    color: rgb(0, 0, 0);
}

span{
    color: rgb(20, 93, 189);
}

.who{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.service{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.team{
    color: blue;
    font-weight: bold;
    text-align: center;
}
